body {
    background-color: #fff;
    color: #444;
    font-size: 20px;
    font-family: 'Quicksand';
    padding-left: 5px;
    padding-right: 5px;

}

.logo {
    width: 500px;
    height: 500px;
    background-color: #fff;
    padding: auto;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
    
}

.WalletInfo {
    width: 600px;
}

.Block {
    border: 1px solid #fff;
    padding: 5%;
    margin: 2%;
}

.Transaction {
    padding: 5%;
}

.ConductTransaction, .TransactionPool {
    margin: 10%;
}

a, a:hover {
    color: #e66;
    text-decoration: underline;
}